/* https://fluidbuilder.webflow.io/?design=80&max=80&min=30&f&g=--st--75,0.875,0.875_--st--50,0.75,0.75,t&g=:1.272,1.2:--st--350,11.09,5.45_--st--325,8.72,4.54_--st--300,6.85,3.78_--st--275,5.39,3.15_--st--250,4.24,2.63_--st--225,3.33,2.19_--st--200,2.62,1.82_--st--175,2.06,1.52_--st--150,1.62,1.27_--st--125,1.27,1.06_--st--100,1,0.88,t */

:root {

	--st--350: clamp(5.45rem, 2.066rem + 11.28vw, 11.09rem);
	--st--325: clamp(4.54rem, 2.032rem + 8.36vw, 8.72rem);
	--st--300: clamp(3.78rem, 1.938rem + 6.14vw, 6.85rem);
	--st--275: clamp(3.15rem, 1.806rem + 4.48vw, 5.39rem);
	--st--250: clamp(2.63rem, 1.664rem + 3.22vw, 4.24rem);
	--st--225: clamp(2.19rem, 1.506rem + 2.28vw, 3.33rem);
	--st--200: clamp(1.82rem, 1.34rem + 1.6vw, 2.62rem);
	--st--175: clamp(1.52rem, 1.196rem + 1.08vw, 2.06rem);
	--st--150: clamp(1.27rem, 1.06rem + 0.7vw, 1.62rem);
	--st--125: clamp(1.06rem, 0.934rem + 0.42vw, 1.27rem);
	--st--100: clamp(0.88rem, 0.808rem + 0.24vw, 1rem);
  --st--75: 0.875rem;
	--st--50: 0.75rem;
}

/* https://fluidbuilder.webflow.io/?design=80&max=80&min=30&f&g=--sg--75,0.75,0.75,t_--sg--50,0.5,0.5_--sg--25,0.25,0.25&g=:1.27564,1.27:--sg--575,102.06,82.09_--sg--550,80,64.64_--sg--525,62.72,50.89_--sg--500,49.16,40.07_--sg--475,38.54,31.55_--sg--450,30.21,24.85_--sg--425,23.68,19.56_--sg--400,18.57,15.4_--sg--375,14.55,12.13_--sg--350,11.41,9.55_--sg--325,8.94,7.52_--sg--300,7.01,5.92_--sg--275,5.5,4.66_--sg--250,4.31,3.67_--sg--225,3.38,2.89_--sg--200,2.65,2.28_--sg--175,2.08,1.79_--sg--150,1.63,1.41_--sg--125,1.28,1.11_--sg--100,1,0.875,t */

:root {
	--sg--575: clamp(82.09rem, 70.108rem + 39.94vw, 102.06rem);
	--sg--550: clamp(64.64rem, 55.424rem + 30.72vw, 80rem);
	--sg--525: clamp(50.89rem, 43.792rem + 23.66vw, 62.72rem);
	--sg--500: clamp(40.07rem, 34.616rem + 18.18vw, 49.16rem);
	--sg--475: clamp(31.55rem, 27.356rem + 13.98vw, 38.54rem);
	--sg--450: clamp(24.85rem, 21.634rem + 10.72vw, 30.21rem);
	--sg--425: clamp(19.56rem, 17.088rem + 8.24vw, 23.68rem);
	--sg--400: clamp(15.4rem, 13.498rem + 6.34vw, 18.57rem);
	--sg--375: clamp(12.13rem, 10.678rem + 4.84vw, 14.55rem);
	--sg--350: clamp(9.55rem, 8.434rem + 3.72vw, 11.41rem);
	--sg--325: clamp(7.52rem, 6.668rem + 2.84vw, 8.94rem);
	--sg--300: clamp(5.92rem, 5.266rem + 2.18vw, 7.01rem);
	--sg--275: clamp(4.66rem, 4.156rem + 1.68vw, 5.5rem);
	--sg--250: clamp(3.67rem, 3.286rem + 1.28vw, 4.31rem);
	--sg--225: clamp(2.89rem, 2.596rem + 0.98vw, 3.38rem);
	--sg--200: clamp(2.28rem, 2.058rem + 0.74vw, 2.65rem);
	--sg--175: clamp(1.79rem, 1.616rem + 0.58vw, 2.08rem);
	--sg--150: clamp(1.41rem, 1.278rem + 0.44vw, 1.63rem);
	--sg--125: clamp(1.11rem, 1.008rem + 0.34vw, 1.28rem);
	--sg--100: clamp(0.875rem, 0.8rem + 0.25vw, 1rem);
  --sg--75: 0.75rem;
	--sg--50: 0.50rem;
	--sg--25: 0.25rem;
}
