

/* https://fluidbuilder.webflow.io/?design=80&max=80&min=30&f&g=--st--75,0.875,0.875_--st--50,0.75,0.75,t&g=:1.272,1.2:--st--350,11.09,5.45_--st--325,8.72,4.54_--st--300,6.85,3.78_--st--275,5.39,3.15_--st--250,4.24,2.63_--st--225,3.33,2.19_--st--200,2.62,1.82_--st--175,2.06,1.52_--st--150,1.62,1.27_--st--125,1.27,1.06_--st--100,1,0.88,t */

:root {

	--st--350: clamp(5.45rem, 2.066rem + 11.28vw, 11.09rem);
	--st--325: clamp(4.54rem, 2.032rem + 8.36vw, 8.72rem);
	--st--300: clamp(3.78rem, 1.938rem + 6.14vw, 6.85rem);
	--st--275: clamp(3.15rem, 1.806rem + 4.48vw, 5.39rem);
	--st--250: clamp(2.63rem, 1.664rem + 3.22vw, 4.24rem);
	--st--225: clamp(2.19rem, 1.506rem + 2.28vw, 3.33rem);
	--st--200: clamp(1.82rem, 1.34rem + 1.6vw, 2.62rem);
	--st--175: clamp(1.52rem, 1.196rem + 1.08vw, 2.06rem);
	--st--150: clamp(1.27rem, 1.06rem + 0.7vw, 1.62rem);
	--st--125: clamp(1.06rem, 0.934rem + 0.42vw, 1.27rem);
	--st--100: clamp(0.88rem, 0.808rem + 0.24vw, 1rem);
  	--st--75: 0.875rem;
	--st--50: 0.75rem;
}

/* https://fluidbuilder.webflow.io/?design=80&max=80&min=30&f&g=--sg--75,0.75,0.75,t_--sg--50,0.5,0.5_--sg--25,0.25,0.25&g=:1.27564,1.27:--sg--575,102.06,82.09_--sg--550,80,64.64_--sg--525,62.72,50.89_--sg--500,49.16,40.07_--sg--475,38.54,31.55_--sg--450,30.21,24.85_--sg--425,23.68,19.56_--sg--400,18.57,15.4_--sg--375,14.55,12.13_--sg--350,11.41,9.55_--sg--325,8.94,7.52_--sg--300,7.01,5.92_--sg--275,5.5,4.66_--sg--250,4.31,3.67_--sg--225,3.38,2.89_--sg--200,2.65,2.28_--sg--175,2.08,1.79_--sg--150,1.63,1.41_--sg--125,1.28,1.11_--sg--100,1,0.875,t */

:root {
	--sg--575: clamp(82.09rem, 70.108rem + 39.94vw, 102.06rem);
	--sg--550: clamp(64.64rem, 55.424rem + 30.72vw, 80rem);
	--sg--525: clamp(50.89rem, 43.792rem + 23.66vw, 62.72rem);
	--sg--500: clamp(40.07rem, 34.616rem + 18.18vw, 49.16rem);
	--sg--475: clamp(31.55rem, 27.356rem + 13.98vw, 38.54rem);
	--sg--450: clamp(24.85rem, 21.634rem + 10.72vw, 30.21rem);
	--sg--425: clamp(19.56rem, 17.088rem + 8.24vw, 23.68rem);
	--sg--400: clamp(15.4rem, 13.498rem + 6.34vw, 18.57rem);
	--sg--375: clamp(12.13rem, 10.678rem + 4.84vw, 14.55rem);
	--sg--350: clamp(9.55rem, 8.434rem + 3.72vw, 11.41rem);
	--sg--325: clamp(7.52rem, 6.668rem + 2.84vw, 8.94rem);
	--sg--300: clamp(5.92rem, 5.266rem + 2.18vw, 7.01rem);
	--sg--275: clamp(4.66rem, 4.156rem + 1.68vw, 5.5rem);
	--sg--250: clamp(3.67rem, 3.286rem + 1.28vw, 4.31rem);
	--sg--225: clamp(2.89rem, 2.596rem + 0.98vw, 3.38rem);
	--sg--200: clamp(2.28rem, 2.058rem + 0.74vw, 2.65rem);
	--sg--175: clamp(1.79rem, 1.616rem + 0.58vw, 2.08rem);
	--sg--150: clamp(1.41rem, 1.278rem + 0.44vw, 1.63rem);
	--sg--125: clamp(1.11rem, 1.008rem + 0.34vw, 1.28rem);
	--sg--100: clamp(0.875rem, 0.8rem + 0.25vw, 1rem);
  	--sg--75: 0.75rem;
	--sg--50: 0.50rem;
	--sg--25: 0.25rem;
}


/* ----------------------------
/* -------------- Shape Size */

.s-100 { height: var(--sg--100); }
.s-125 { height: var(--sg--125); }
.s-150 { height: var(--sg--150); }
.s-175 { height: var(--sg--175); }
.s-200 { height: var(--sg--200); }
.s-225 { height: var(--sg--225); }
.s-250 { height: var(--sg--250); }
.s-275 { height: var(--sg--275); }
.s-300 { height: var(--sg--300); }
.s-325 { height: var(--sg--325); }
.s-350 { height: var(--sg--350); }

/* ----------------------------
/* ---------------- Gap Size */

.g-25 { gap: var(--sg--25); }
.g-50 { gap: var(--sg--50); }
.g-75 { gap: var(--sg--75); }
.g-100 { gap: var(--sg--100); }
.g-150 { gap: var(--sg--150); }
.g-200 { gap: var(--sg--200); }

/* ----------------------------
/* ------------- Screen Size */

.h-screen { height: 100dvh; }
.h-full { height: 100%; }

.w-screen { width: 100dvw; }
.w-full { width: 100%; }

.w-550 { width: var(--sg--550); }
.w-500 { width: var(--sg--500); }
.w-450 { width: var(--sg--450); }
.w-400 { width: var(--sg--400); }

/* ----------------------------
/* ----------------- Padding */

.p-25 { padding: var(--sg--25); }
.p-50 { padding: var(--sg--50); }
.p-100 { padding: var(--sg--100); }
.p-150 { padding: var(--sg--150); }
.p-200 { padding: var(--sg--200); }
.p-250 { padding: var(--sg--250); }
.p-300 { padding: var(--sg--300); }
.p-350 { padding: var(--sg--350); }

.pt-25 { padding-top: var(--sg--25); }
.pt-50 { padding-top: var(--sg--50); }
.pt-100 { padding-top: var(--sg--100); }
.pt-150 { padding-top: var(--sg--150); }
.pt-200 { padding-top: var(--sg--200); }
.pt-250 { padding-top: var(--sg--250); }
.pt-300 { padding-top: var(--sg--300); }
.pt-350 { padding-top: var(--sg--350); }

.pb-25 { padding-bottom: var(--sg--25); }
.pb-50 { padding-bottom: var(--sg--50); }
.pb-100 { padding-bottom: var(--sg--100); }
.pb-150 { padding-bottom: var(--sg--150); }
.pb-200 { padding-bottom: var(--sg--200); }
.pb-250 { padding-bottom: var(--sg--250); }
.pb-300 { padding-bottom: var(--sg--300); }
.pb-350 { padding-bottom: var(--sg--350); }

.pl-25 { padding-left: var(--sg--25); }
.pl-50 { padding-left: var(--sg--50); }
.pl-100 { padding-left: var(--sg--100); }
.pl-150 { padding-left: var(--sg--150); }
.pl-200 { padding-left: var(--sg--200); }
.pl-250 { padding-left: var(--sg--250); }
.pl-300 { padding-left: var(--sg--300); }
.pl-350 { padding-left: var(--sg--350); }

.pr-25 { padding-right: var(--sg--25); }
.pr-50 { padding-right: var(--sg--50); }
.pr-100 { padding-right: var(--sg--100); }
.pr-150 { padding-right: var(--sg--150); }
.pr-200 { padding-right: var(--sg--200); }
.pr-250 { padding-right: var(--sg--250); }
.pr-300 { padding-right: var(--sg--300); }
.pr-350 { padding-right: var(--sg--350); }

.pv-25 { padding-top: var(--sg--25); padding-bottom: var(--sg--25); }
.pv-50 { padding-top: var(--sg--50); padding-bottom: var(--sg--50); }
.pv-100 { padding-top: var(--sg--100); padding-bottom: var(--sg--100); }
.pv-150 { padding-top: var(--sg--150); padding-bottom: var(--sg--150); }
.pv-200 { padding-top: var(--sg--200); padding-bottom: var(--sg--200); }
.pv-250 { padding-top: var(--sg--250); padding-bottom: var(--sg--250); }
.pv-300 { padding-top: var(--sg--300); padding-bottom: var(--sg--300); }
.pv-350 { padding-top: var(--sg--350); padding-bottom: var(--sg--350); }

.ph-25 { padding-left: var(--sg--25); padding-right: var(--sg--25); }
.ph-50 { padding-left: var(--sg--50); padding-right: var(--sg--50); }
.ph-100 { padding-left: var(--sg--100); padding-right: var(--sg--100); }
.ph-150 { padding-left: var(--sg--150); padding-right: var(--sg--150); }
.ph-200 { padding-left: var(--sg--200); padding-right: var(--sg--200); }
.ph-250 { padding-left: var(--sg--250); padding-right: var(--sg--250); }
.ph-300 { padding-left: var(--sg--300); padding-right: var(--sg--300); }
.ph-350 { padding-left: var(--sg--350); padding-right: var(--sg--350); }

/* ----------------------------
/* ------------------ Margin */

.m-25 { margin: var(--sg--25); }
.m-50 { margin: var(--sg--50); }
.m-100 { margin: var(--sg--100); }
.m-150 { margin: var(--sg--150); }
.m-200 { margin: var(--sg--200); }
.m-250 { margin: var(--sg--250); }
.m-300 { margin: var(--sg--300); }
.m-350 { margin: var(--sg--350); }

.mt-25 { margin-top: var(--sg--25); }
.mt-50 { margin-top: var(--sg--50); }
.mt-100 { margin-top: var(--sg--100); }
.mt-150 { margin-top: var(--sg--150); }
.mt-200 { margin-top: var(--sg--200); }
.mt-250 { margin-top: var(--sg--250); }
.mt-300 { margin-top: var(--sg--300); }
.mt-350 { margin-top: var(--sg--350); }

.mb-25 { margin-bottom: var(--sg--25); }
.mb-50 { margin-bottom: var(--sg--50); }
.mb-100 { margin-bottom: var(--sg--100); }
.mb-150 { margin-bottom: var(--sg--150); }
.mb-200 { margin-bottom: var(--sg--200); }
.mb-250 { margin-bottom: var(--sg--250); }
.mb-300 { margin-bottom: var(--sg--300); }
.mb-350 { margin-bottom: var(--sg--350); }

.ml-25 { margin-left: var(--sg--25); }
.ml-50 { margin-left: var(--sg--50); }
.ml-100 { margin-left: var(--sg--100); }
.ml-150 { margin-left: var(--sg--150); }
.ml-200 { margin-left: var(--sg--200); }
.ml-250 { margin-left: var(--sg--250); }
.ml-300 { margin-left: var(--sg--300); }
.ml-350 { margin-left: var(--sg--350); }

.mr-25 { margin-right: var(--sg--25); }
.mr-50 { margin-right: var(--sg--50); }
.mr-100 { margin-right: var(--sg--100); }
.mr-150 { margin-right: var(--sg--150); }
.mr-200 { margin-right: var(--sg--200); }
.mr-250 { margin-right: var(--sg--250); }
.mr-300 { margin-right: var(--sg--300); }
.mr-350 { margin-right: var(--sg--350); }

.mv-25 { margin-top: var(--sg--25); margin-bottom: var(--sg--25); }
.mv-50 { margin-top: var(--sg--50); margin-bottom: var(--sg--50); }
.mv-100 { margin-top: var(--sg--100); margin-bottom: var(--sg--100); }
.mv-150 { margin-top: var(--sg--150); margin-bottom: var(--sg--150); }
.mv-200 { margin-top: var(--sg--200); margin-bottom: var(--sg--200); }
.mv-250 { margin-top: var(--sg--250); margin-bottom: var(--sg--250); }
.mv-300 { margin-top: var(--sg--300); margin-bottom: var(--sg--300); }
.mv-350 { margin-top: var(--sg--350); margin-bottom: var(--sg--350); }

.mh-25 { margin-left: var(--sg--25); margin-right: var(--sg--25); }
.mh-50 { margin-left: var(--sg--50); margin-right: var(--sg--50); }
.mh-100 { margin-left: var(--sg--100); margin-right: var(--sg--100); }
.mh-150 { margin-left: var(--sg--150); margin-right: var(--sg--150); }
.mh-200 { margin-left: var(--sg--200); margin-right: var(--sg--200); }
.mh-250 { margin-left: var(--sg--250); margin-right: var(--sg--250); }
.mh-300 { margin-left: var(--sg--300); margin-right: var(--sg--300); }
.mh-350 { margin-left: var(--sg--350); margin-right: var(--sg--350); }

.ts-50 { font-size: var(--st--50); }
.ts-75 { font-size: var(--st--75); }
.ts-100 { font-size: var(--st--100); }
.ts-125 { font-size: var(--st--125); }
.ts-150 { font-size: var(--st--150); }
.ts-175 { font-size: var(--st--175); }
.ts-200 { font-size: var(--st--200); }
.ts-225 { font-size: var(--st--225); }
.ts-250 { font-size: var(--st--250); }
.ts-275 { font-size: var(--st--275); }
.ts-300 { font-size: var(--st--300); }
.ts-325 { font-size: var(--st--325); }
.ts-350 { font-size: var(--st--350); }

.tw-100 { font-weight: 100; }
.tw-200 { font-weight: 200; }
.tw-300 { font-weight: 300; }
.tw-400 { font-weight: 400; }
.tw-500 { font-weight: 500; }
.tw-600 { font-weight: 600; }
.tw-700 { font-weight: 700; } 
.tw-800 { font-weight: 800; }
.tw-900 { font-weight: 900; }

:root {
	--c--white: white;
	--c--50 : whitesmoke;
	--c--100: #cbd9ed;
	--c--200: #a1bee5;
	--c--300: #78a2de;
	--c--400: #4e87d6;
	--c--500: #246bce;
	--c--600: #1e59ac;
	--c--700: #184789;
	--c--800: #123667;
	--c--900: #0c2445;
	--c--950: #061222;
	--c--black: black;
}

.is-dark {
	--c--white: black;
	--c--50: #061222;
	--c--100: #0c2445;
	--c--200: #123667;
	--c--300: #184789;
	--c--400: #1e59ac;
	--c--500: #246bce;
	--c--600: #4e87d6;
	--c--700: #78a2de;
	--c--800: #a1bee5;
	--c--900: #cbd9ed;
	--c--950: whitesmoke;
	--c--black: white;
}

.tc-white { color: var(--c--white) }
.tc-050 { color: var(--c--050) }
.tc-100 { color: var(--c--100) }
.tc-200 { color: var(--c--200) }
.tc-300 { color: var(--c--300) }
.tc-400 { color: var(--c--400) }
.tc-500 { color: var(--c--500) }
.tc-600 { color: var(--c--600) }
.tc-700 { color: var(--c--700) }
.tc-800 { color: var(--c--800) }
.tc-900 { color: var(--c--900) }
.tc-950 { color: var(--c--950) }
.tc-black { color: var(--c--black) }

.bg-white { background-color: var(--c--white) }
.bg-050 { background-color: var(--c--050) }
.bg-100 { background-color: var(--c--100) }
.bg-200 { background-color: var(--c--200) }
.bg-300 { background-color: var(--c--300) }
.bg-400 { background-color: var(--c--400) }
.bg-500 { background-color: var(--c--500) }
.bg-600 { background-color: var(--c--600) }
.bg-700 { background-color: var(--c--700) }
.bg-800 { background-color: var(--c--800) }
.bg-900 { background-color: var(--c--900) }
.bg-950 { background-color: var(--c--950) }
.bg-black { background-color: var(--c--black) }

.r-25 { border-radius: var(--sg--25); }
.r-50 { border-radius: var(--sg--50); }
.r-100 { border-radius: var(--sg--100); }
.r-150 { border-radius: var(--sg--150); }
.r-200 { border-radius: var(--sg--200); }
.r-250 { border-radius: var(--sg--250); }
.r-300 { border-radius: var(--sg--300); }
.r-350 { border-radius: var(--sg--350); }

.rt-25  { border-top-left-radius: var(--sg--25); border-top-right-radius: var(--sg--25); }
.rt-50  { border-top-left-radius: var(--sg--50); border-top-right-radius: var(--sg--50); }
.rt-100 { border-top-left-radius: var(--sg--100); border-top-right-radius: var(--sg--100); }
.rt-150 { border-top-left-radius: var(--sg--150); border-top-right-radius: var(--sg--150); }
.rt-200 { border-top-left-radius: var(--sg--200); border-top-right-radius: var(--sg--200); }
.rt-250 { border-top-left-radius: var(--sg--250); border-top-right-radius: var(--sg--250); }
.rt-300 { border-top-left-radius: var(--sg--300); border-top-right-radius: var(--sg--300); }
.rt-350 { border-top-left-radius: var(--sg--350); border-top-right-radius: var(--sg--350); }

.rb-25  { border-bottom-left-radius: var(--sg--25); border-bottom-right-radius: var(--sg--25); }
.rb-50  { border-bottom-left-radius: var(--sg--50); border-bottom-right-radius: var(--sg--50); }
.rb-100 { border-bottom-left-radius: var(--sg--100); border-bottom-right-radius: var(--sg--100); }
.rb-150 { border-bottom-left-radius: var(--sg--150); border-bottom-right-radius: var(--sg--150); }
.rb-200 { border-bottom-left-radius: var(--sg--200); border-bottom-right-radius: var(--sg--200); }
.rb-250 { border-bottom-left-radius: var(--sg--250); border-bottom-right-radius: var(--sg--250); }
.rb-300 { border-bottom-left-radius: var(--sg--300); border-bottom-right-radius: var(--sg--300); }
.rb-350 { border-bottom-left-radius: var(--sg--350); border-bottom-right-radius: var(--sg--350); }

.rl-25  { border-top-left-radius: var(--sg--25); border-bottom-left-radius: var(--sg--25); }
.rl-50  { border-top-left-radius: var(--sg--50); border-bottom-left-radius: var(--sg--50); }
.rl-100 { border-top-left-radius: var(--sg--100); border-bottom-left-radius: var(--sg--100); }
.rl-150 { border-top-left-radius: var(--sg--150); border-bottom-left-radius: var(--sg--150); }
.rl-200 { border-top-left-radius: var(--sg--200); border-bottom-left-radius: var(--sg--200); }
.rl-250 { border-top-left-radius: var(--sg--250); border-bottom-left-radius: var(--sg--250); }
.rl-300 { border-top-left-radius: var(--sg--300); border-bottom-left-radius: var(--sg--300); }
.rl-350 { border-top-left-radius: var(--sg--350); border-bottom-left-radius: var(--sg--350); }

.rr-25  { border-top-right-radius: var(--sg--25); border-bottom-right-radius: var(--sg--25); }
.rr-50  { border-top-right-radius: var(--sg--50); border-bottom-right-radius: var(--sg--50); }
.rr-100 { border-top-right-radius: var(--sg--100); border-bottom-right-radius: var(--sg--100); }
.rr-150 { border-top-right-radius: var(--sg--150); border-bottom-right-radius: var(--sg--150); }
.rr-200 { border-top-right-radius: var(--sg--200); border-bottom-right-radius: var(--sg--200); }
.rr-250 { border-top-right-radius: var(--sg--250); border-bottom-right-radius: var(--sg--250); }
.rr-300 { border-top-right-radius: var(--sg--300); border-bottom-right-radius: var(--sg--300); }
.rr-350 { border-top-right-radius: var(--sg--350); border-bottom-right-radius: var(--sg--350); }